*~

src/*.o
src/tuner/*.o
src/*.lo
src/*.la
libnccl-net.so
tags

src/tuner/.dirstamp
src/lib/tuner/.dirstamp
src/tuner/*.lo
src/tuner/*.la
src/lib/tuner/*.lo
src/lib/tuner/*.la

tests/functional/*.o
tests/unit/*.o
tests/unit/*.log
tests/unit/*.trs
src/tests/functional/cuda_check
src/tests/functional/cuda_check
src/tests/functional/nccl_connection
src/tests/functional/nccl_connection
src/tests/functional/nccl_message_transfer
src/tests/functional/nccl_message_transfer
src/tests/functional/ring
src/tests/functional/ring
src/tests/unit/deque
src/tests/unit/deque
src/tests/unit/ep_addr_list
src/tests/unit/ep_addr_list
src/tests/unit/freelist
src/tests/unit/freelist
src/tests/unit/idpool
src/tests/unit/idpool
src/tests/unit/mr
src/tests/unit/mr
src/tests/unit/msgbuff
src/tests/unit/msgbuff
src/tests/unit/region_based_tuner
src/tests/unit/region_based_tuner
src/tests/unit/scheduler
src/tests/unit/scheduler
src/tests/unit/show_tuner_costs
src/tests/unit/show_tuner_costs
tests/functional/*.o
tests/functional/cuda_check
tests/functional/cuda_check
tests/functional/nccl_connection
tests/functional/nccl_connection
tests/functional/nccl_message_transfer
tests/functional/nccl_message_transfer
tests/functional/ring
tests/functional/ring
tests/unit/*.log
tests/unit/*.o
tests/unit/*.trs
tests/unit/deque
tests/unit/deque
tests/unit/ep_addr_list
tests/unit/ep_addr_list
tests/unit/freelist
tests/unit/freelist
tests/unit/idpool
tests/unit/idpool
tests/unit/mr
tests/unit/mr
tests/unit/msgbuff
tests/unit/msgbuff
tests/unit/region_based_tuner
tests/unit/show_tuner_decisions
tests/unit/aws_platform_mapper
tests/unit/region_based_tuner
tests/unit/scheduler
tests/unit/scheduler
tests/unit/show_tuner_costs
tests/unit/show_tuner_costs

# http://www.gnu.org/software/automake
.deps/
Makefile.in
Makefile
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf
build-aux/
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/config.cache
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/include/stamp-h1
/include/config.h
/include/config.h.in

# https://www.gnu.org/software/libtool/
/ltmain.sh
.libs/
libtool

# http://www.gnu.org/software/m4/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

.idea/
.devenv/
.direnv

result-bin
result
.ctags.d
.tags
cmake-bld
compile_commands.json
cmake-build-release/
cmake-build-debug/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
.cache/
.ccls
.ccls-cache
.ccls-root
.clion-build/
.ctags.d
.devcontainer.json
.script.sh
.tags
cmake-bld
cmake-build-debug/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
compile_commands.json
result
result-bin
GTAGS
GRTAGS
GPATH
